%mat-stroked-button {
    box-sizing: border-box;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    outline: 0;
    border: none;
    -webkit-tap-highlight-color: transparent;
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    vertical-align: baseline;
    text-align: center;
    margin: 0;
    min-width: 64px;
    line-height: 36px;
    padding: 0 16px;
    border-radius: 4px;
    overflow: visible;
}

.mat-card{
    margin: 20px 10px;
    &-header{
        padding: 10px;
    }
    &-avatar{
        margin-right: 20px;
    }
    &-image{
        &:first-child{
            border-radius: 50%;
            width: 60px;
            height: 60px;
            margin: 0 auto;
        }
    }
    &-actions{
        align-items: flex-end;
        justify-content: flex-end;
        display: flex;
    }
    .mat-stroked-button{
        &-active{
            background:#ffffff57;
            color: initial;
            @extend %mat-stroked-button;
        }
      
    }
      
}
 