<!DOCTYPE html>
<div class="contenedor">
  <h2>
    Equipo: {{nombre}}
  </h2>
  <h3>Jugadores</h3>
 <section class="contenido">
  <div class="boxLateral">
      <mat-accordion>
  
          <mat-expansion-panel  *ngFor="let j of jugadores; let i = index">
            <mat-expansion-panel-header>
              <div>
                <b>{{j.nombre}}</b>
              </div>
              <div>
                <p>{{j.posicion}}</p>
              </div>
              
            </mat-expansion-panel-header>
            <div>
              <p>Estado:</p>
            </div>
            <div>
              <p>{{j.estado}}</p>
            </div>
            <div class="icon-status" >
                <i class="fa fa-user-circle"></i>
            </div>
      
          </mat-expansion-panel>
        
        
        </mat-accordion>
  </div>
  <div class="boxJugadores">
    <app-jugador *ngFor="let j of jugadores; let i = index" [jugador]="j" [equipo]="equipo" (on)="actualizarEstado($event)"></app-jugador>
  </div>
 </section>
</div>