<!DOCTYPE html>
<div class="contenedor">
  <h2>
    Equipo: {{nombre}}
  </h2>
  <h3>Jugadores</h3>
  
  <mat-accordion>
  
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <div>
          <b>{{jugador.nombre}}</b>
        </div>
        <div>
          <p>{{jugador.posicion}}</p>
        </div>
        
      </mat-expansion-panel-header>
      <div>
        <p>Estado:</p>
      </div>
      <div>
        <p>{{jugador.estado}}</p>
      </div>
      <div class="icon-status" >
          <i class="fa fa-user-circle"></i>
      </div>

    </mat-expansion-panel>
  
  
  </mat-accordion>
  <app-jugador [jugador]="jugador" [equipo]="equipo" (on)="actualizarEstado($event)" (off)="desactivarEstado($event)"></app-jugador>
</div>